* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
	background: #fff;
	color: black;
	font-family: grotesk-bold;
}
h2 {
	font-size: 1.8rem!important;
}


/****************Cursor****************************************/

/***************************************************************
#Fonts
***************************************************************/
@font-face {
  font-family: fathan;
  src: url(../fonts/Fathan-DisplaySerif-BF652fce22a8698.otf);
}
@font-face {
  font-family: grotesk-black;
  src: url(../fonts/CabinetGrotesk-Black.otf);
}
@font-face {
  font-family: grotesk-bold;
  src: url(../fonts/CabinetGrotesk-Bold.otf);
}
@font-face {
  font-family: grotesk-Extrabold;
  src: url(../fonts/CabinetGrotesk-Extrabold.otf);
}
@font-face {
  font-family: grotesk-Extralight;
  src: url(../fonts/CabinetGrotesk-Extralight.otf);
}
@font-face {
  font-family: grotesk-light;
  src: url(../fonts/CabinetGrotesk-Light.otf);
}
@font-face {
  font-family: grotesk-medium;
  src: url(../fonts/CabinetGrotesk-Medium.otf);
}
@font-face {
  font-family: grotesk-regular;
  src: url(../fonts/CabinetGrotesk-Regular.otf);
}
@font-face {
  font-family: grotesk-thin;
  src: url(../fonts/CabinetGrotesk-Thin.otf);
}
:root {
	--text-color: black;
	--border-radius: 12px;
}
/***************************************************************************
#Btn
***************************************************************************/

.btn-contact{
padding: 8px 20px;
background-color: #F4F4F4;
border-radius: 50px;
color: black;
text-decoration: none;
border: 1px solid #B3BBFD;
font-size: 21px;
font-family: grotesk-bold;

}
.btn-contact:hover{
  border: 0.8px solid #111;
  color: black;
}

button {
  cursor: pointer;
  font-family: grotesk-bold;
  font-size: 21px;
  transition: all .2s;
  padding: 8px 20px;
  border-radius: 50px;
  background: #CBFD13;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

button:hover {
  background: #B3BBFD;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}



/***************************************************************************
#NavBar

***************************************************************************/

.navbar{
  border-bottom: 0.8px solid #F4F4F4;

}

.navbar .navbar-nav .nav-link {
  padding: 4px 20px;
  font-weight: 500;
  color: black;
}

.navbar-nav a{
  font-size: 21px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: grotesk-bold;
}


.navbar.sticky-top {
  top: -100px;
  transition: .5s;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  transition: max-height 0.3s, margin-left 0.3s;
}

.logo img {
  max-height: 48px;
  padding-right: 15px;
}
.logo a{
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 800;
  text-decoration: none;
  color: black;
  font-family: 'Cute Font', sans-serif;
}
@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link  {
      margin-right: 0;
      padding: 10px 0;
  }

  .navbar .navbar-nav {
      margin-top: 15px;
      border-top: 1px solid #EEEEEE;
  }
}


/************************************************
Hero
************************************************//* Base styles */
.hero {
  background-image: url(/Images/bf.png);
  z-index: 1000;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: grotesk-bold;
  height: 700px;
  overflow: hidden;
}

.hero .container {
  position: relative;
  height: 200px;
  width: auto;
  top: 10%;
}

.content h1 {
  font-size: 80px;
}

.content p {
  font-family: grotesk-regular;
  font-size: 21px;
  padding: 5px 0 10px;
}

.content .color {
  padding: 1px 5px;
  background: #B3BBFD;
  border-radius: 50px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero {
    height: auto;
    min-height: 400px;
  }

  .content h1 {
    font-size: 40px;
  }

  .content p {
    font-size: 16px;
  }
}



/*** About ***/
#about{
  padding: 0 0 40px 0;
}
.container-xxl{
height: 600px;
width: auto;
margin: 20px;
background-color: #B3BBFD;
border-radius: 50px;
}

.image-banner{
  padding: 20px 10px;
  border: 1px solid #F4F4F4;
  border-radius: 50px;
}
.text-center .img-fluid {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/***What we offer****/

#what-we-offer{
  padding-top: 20px;
  height: 900px;
  background-color: #2b2b2b;
  background-repeat: no-repeat;
	background-origin: padding-box;
  color: #fff;
}
.container-card{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
  align-self: center;
  gap: 20px;
}
.card {
  width: 350px;
  height: 550px;
  background: #2b2b2b;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.4em;
  align-items: flex-start;
  padding: 1em 1.5em;
  transition: all 0.5s ease;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 0.8px solid #B3BBFD;
}


.card:hover {
  background: #111;
  border: 0.8px solid #111;
  color: #fff;
}

.card-icon svg {
  height: 4rem;
  width: 4rem;
}

.card-body {
  text-align: justify;
}



/* Clients Section
--------------------------------*/

#clients {
  padding: 60px 0 60px 0 ;
}
.client-logo .img-fluid{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

#clients .client-logo {
  margin: 0;
  padding: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  height: 160px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


#clients img {
  transition: all 0.4s ease-in-out;
}
.testimonial{
  position: relative;
  margin-top: 30px;
  padding: 30px ;
  justify-content: center;
  align-content: center;
  text-align: justify;
  border-top: 1.8px solid #EEEEEE;
}
.testimonial p{
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 26px;
  font-family: grotesk-bold;
  
}
.testimonial .client-name{
  font-family: grotesk-regular;
  font-style: italic;
  font-size: 21px;
  text-align: right;
  display: block;
  
}

#contact-section{
  padding-bottom: 20px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.contact-section .contact-main{
  position: relative;
  justify-content: center;
  align-content: center;align-items: center;
  height: 500px;
  margin: 20px ;
  background-color:#B3BBFD;
  border-radius: 50px;

}

#footer{
  height: 500px;
  background-color: #2b2b2b;
}